/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

nav {
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, sans-serif;
font-size: 14px;
font-stretch: 100%;
    
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    font-size: 14px;
}

.footer .nav .a{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.top{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: Roboto, sans-serif;
font-size: 14px;
font-stretch: 100%;
}

head {
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-picture{
    vertical-align:middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 800px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-stretch: 100%;

}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 40px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
    font-family: Roboto, sans-serif;
font-size: 14px;
font-stretch: 100%;
margin-bottom: 30px;
}

.container {
    width: 800px;
    margin: 30px ;
    font-family: Roboto, sans-serif;
font-size: 14px;
font-stretch: 100%;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 60px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box-1 {
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-2 {
    background: gold;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-3 {
    background: cadetblue;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-4 {
    background: coral;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-5 {
    background: crimson;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-6 {
    background: forestgreen;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-7 {
    background: darkorchid;
    width: 12.5%;
    height: 100px;;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-8 {
    background: hotpink;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-9 {
    background: indigo;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-10 {
    background: dodgerblue;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    background: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    background-color: black;
    text-decoration: none;
}

.about-page1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    width: 400px;
    top: -500px;
    padding: 0px;
    border-bottom: 1px dashed black;
}
 .about-page2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    width: 400px;
    margin-top:10px;
    border-bottom: 1px dashed black;
 }

 .aboutpicture{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
 }

 .middle-content1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    border-bottom: 1px dashed black;
 }

 .words{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0 1%;
    padding-bottom: 60px;
 }

 #text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
 }

 .img2{
     top: 400px;
 }

 .middle-content1{
     margin-bottom: 60px;
 }
    .img5{
        margin-top: 200px;
     }

     .button .thirdbutton{
         height:31px;
         width:84.17px;
     }
     button .thirdbutton{
        height:31px;
        width:84.17px;
         margin-bottom: 30px;
     border: 3px black;
            border-style: solid;
            border-radius: 15px;
            background-color: white;
            font-size: 14px;
            font-family: 'Rubik', sans-serif;
            
        }
    
    

    button{
        margin-bottom: 30px;
        border: 3px black;
        border-style: solid;
        border-radius: 15px;
        background-color: white;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        
    }

    